.about_img{
    height: 80%;
    max-width: 100%;
    object-fit: cover;
}

@media screen and (min-device-width: 800px)
{
    .font_style{
        font-size: 48;
    }
}

@media screen and (max-device-width: 800px)
{
    .font_style{
        font-size: 12;
        text-align: center  ;
    }
}
